
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {font-family:'Open+Sans:700,300,600,400:cyrillic-ext,latin,cyrillic'; 
  src:url('Open+Sans:700,300,600,400:cyrillic-ext,latin,cyrillic') 
  format('svg');}        
}

html{
 width:100%;
 height:100%;
 background: #cc6951; /* Old browsers */
 margin-top: -30px;
 padding-top: 80px;
} 

h1{
  font-family:"Open Sans"; 
  color:#ffffff;           
  font-size:30pt;
  font-weight:200;            
}
    
p{
  font-family:"Open Sans";
  color:#ffffff;
  font-size:18pt;
  font-weight:200;
}
    
p a{
  color:#ffffff;
  text-decoration:none;
  border-bottom:1px solid;
}
    
.content{
  max-width:800px;
  padding-left:15%;
  padding-right:15%;
  margin:60pt auto 60pt auto;
}
    
@media only screen and (min-width : 1400px) {                
  .content{max-width:1000px;}
  h1{font-size:36pt;}
  p{font-size:24pt;}
  .hover_img a{font-size:24pt;}            
}

@media only screen and (max-width : 760px) {
  .content{max-width:500px;}
  h1{font-size:24pt;}
  p{font-size:15pt;}
  .hover_img a{font-size:15pt;}            
}

@-webkit-keyframes fadeIn {
  from {opacity:0;}
  to {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  from {opacity:0;}
  to {opacity:1;}
  }
  
  @keyframes fadeIn {
  from {opacity:0;}
  to {opacity:1;}
}

.fadein {
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards; 
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: 0.7s;
	-moz-animation-duration: 0.7s;
	animation-duration: 0.7s;
}

.fadein.title {
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s; 
	animation-delay: 0.4s;	
}

.fadein.text {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.fadein.friends {
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

.fadein.contact {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

#footer {
 position:fixed;
 left:0px;
 bottom:0px;
 height:42px;
 width:100%;
 background:#dddddd;
 margin:0 auto;   
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}


nav {
  overflow:hidden; 
  height:100%; 
  position:relative; 
  text-align:left;                
}
nav ul {
  float:left;
  color:#999;
  font:14px "Open Sans", Helvetica, Arial, sans-serif;
  margin:0px 10px 0 15px;
  padding:0px 0px 0 0px;
  line-height:42px;
                  
}
nav li { 
  display: inline;
  margin-right: 10px;
}

nav li a {
  color: #000000; 
  text-decoration: none;
  margin-top: 10px;
}

nav li a:hover, nav li a .current {
color: #de364b;                
}

.title{
 display:inline;    
}

.current{
  font-weight: bold;
} 

.btn {
  padding: 5px;
  border: 0;
  line-height: 56px;
  border-radius: 5px;
  box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.25);
  overflow: hidden;
  padding-left: 20px;
  padding-right:20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  -webkit-transition: box-shadow 0.3s ease-in-out 0s;
  -moz-transition: box-shadow 0.3s ease-in-out 0s;
  -o-transition: box-shadow 0.3s ease-in-out 0s;
  -ms-transition: box-shadow 0.3s ease-in-out 0s;
  transition: box-shadow 0.3s ease-in-out 0s;
  background: linear-gradient(to right, #ffad00 0%, #cc6951 100%);
}

.btn:hover{
 background: linear-gradient(to right, #ffad00 0%, #6626ff 100%);
 box-shadow: 0px 10px 150px 0px rgba(0,0,0,0.55);
}
 
.field {
  padding-bottom: 100px;
  border: 0;
  line-height: 56px;
  border-radius: 5px;
  box-shadow: 0px 20px 40px 0px rgba(0,0,0,0.25);
  overflow: hidden;
  padding-left: 20px;
  padding-right:20px;
  margin-bottom:-95px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  -webkit-transition: box-shadow 0.3s ease-in-out 0s;
  -moz-transition: box-shadow 0.3s ease-in-out 0s;
  -o-transition: box-shadow 0.3s ease-in-out 0s;
  -ms-transition: box-shadow 0.3s ease-in-out 0s;
  transition: box-shadow 0.3s ease-in-out 0s;    
}
 
@media (max-width: 768px)
  .social {
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    left: 10px;
    bottom: 5px;
  }

  .social {
    font-size: 16px;
    font-family: "Open Sans";
    position: fixed;
    width: 400px;
    text-align: left;
    left: -180px;
    bottom: 215px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
  }

  .social a {
    text-decoration: none;
    color: #000;
  }

  .social a:hover{
    color:#ffffff;
  }

  .titlename{
    color: white;
    text-decoration: none;
  }
}